body{
  background-image: url(https://i.pinimg.com/564x/26/c9/f1/26c9f1e539e53efcbde0cb0fad240c9e.jpg);
  background-size: cover;
  text-align: center;
  box-sizing: border-box;
  color: rgba(48, 21, 7, 0.877);
  
}